/* Universal selectors */
*{
    padding: 0;
    margin: 0;
    
}

/* Nav section */
header{
    padding:2rem 2rem 0;
    max-width: 1280px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 6rem;
}

nav ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 1rem;
    list-style: none;
}

nav ul li a{
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}
nav li:nth-child(1) a{
    font-weight: 700;}

nav li:nth-child(2) a, nav li:nth-child(3) a{
    color: #757575;}


/* banner section */
.banner{
    display: flex;
    align-items: end;
    gap: 1rem;
    padding: 4rem 0 2rem;
}

.banner-content{
    width: 50vw;
}
.banner h1{
    font-size: 2.2rem;
    margin-bottom: 0.6rem;
    font-family: "Noto Serif", serif;
}

.banner span{
    color: #E95A08;
    font-family: "Noto Serif", serif;
}

.banner p{
    color: #6C6C6C;
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
}

.banner-img{
    max-width: 45vw;
}

.banner-img img{
    display: block;
    width: 100%;
}


/* plant section */
.plant-section{
    padding:0 2rem;
    max-width: 1280px;
}

.common h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.6rem;
    font-family: "Noto Serif", serif;
}
.common span{
    color: #E95A08;
}

.common p{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1rem;
    color: #6C6C6C;
    font-family: "Inter", sans-serif;
}

.Plants-parent{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    text-align: center;
}

.card img{
    display: block;
    width: 100%;
}
.card h2{
    margin: 0.5rem 0;
    font-family: "Inter", sans-serif;
}

.card span{
    font-size: 1.3rem;
    font-family: "Inter", sans-serif;
}

.click-button{
    background-color: #C94A00 ;
    color: #FFFFFF;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    width: 100%;
    padding: 1rem;
    margin-top: 0.5rem;
}


/* Flower & Plants Lover */
.love-parent{
    padding: 6rem 2rem 2rem;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 4rem;
}

.love{
    position: relative;
}

.love .Badge{
    position: absolute;
    width: 12rem;
    right: -5rem;
    top: -5.5rem;
}

.love-img{
    width: 35vw;
}

.love-img img{
    display: block;
    width: 100%;
}

.love-parent h2{
    font-size: 2.7rem;
    margin-bottom: 0.7rem;
    font-family: "Noto Serif", serif;
}


.love-parent ul{
    padding-left: 1rem;
    color: #6C6C6C;
    font-family: "Inter", sans-serif;
}

/* Latest Deals */
.Deals{
    padding:0 2rem 2rem;
    max-width: 1280px;
}

.Deals-parent{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
}

.item-3{
    grid-column: 2/4;
    grid-row: 1/3;
}

.Deals-parent img{
    display: block;
    width: 100%;
    border-radius: 1rem;
    filter: brightness(0.7);
}

.Deals-parent a{
    color: white;
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
}

.Deals-parent h3{
    color: white;
    font-size: 1.8rem;
    font-family: "Noto Serif", serif;
}

.item-3 h3{
    font-size: 2rem;
}

.item-1, .item-2, .item-3{
    position: relative;
    overflow: hidden;

    color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%) ;
    text-align: center;
    width: 80%;
} 

/* Join the colorful Bunch */
.join-bg{
    background-image:url(./image/news-letter-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.join-content{
    padding: 7rem 0 7.6rem;
}

.join-content h3{
    text-align: center;
    font-size: 2.5rem;
    color: white;
    margin: 0.5rem;
    font-family: "Noto Serif", serif;
}
.join-content .input{
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-content input{
    padding: 1rem;
    border: none;
    width: 50%;
}
.join-content button{
    padding: 1rem;
    border: none;
    background-color: #C94A00;
    color: white;
    font-weight: 600;
}

 /* Footer */
.footer{
    padding:3rem 2rem;
    display: flex;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
    gap: 1rem;
}

.first-column{
    width: 25%;
}
.first-column p{
    color: #6C6C6C;
}

.footer-img img{
    display: block;
    width: 5.5rem;
    margin-bottom: 0.4rem;
}

footer ul li{
    list-style: none;
    margin: 0.5rem;
}
footer a{
    text-decoration: none;
    color: #6C6C6C;
}

footer .social-link{
    display: flex;
    gap: 0.6rem;
}

.twitter{
    display: block;
    margin-top: 7px;
}


/* Responsive for mobile */
@media screen and (max-width:576px){

/* Nav section */
header{
    padding: 1rem;
}

.logo img{
    width: 4.7rem;
}

nav li:nth-child(1) a,
nav li:nth-child(2) a,
nav li:nth-child(3) a{
    display: none;
}

/* banner section */
.banner{
    flex-wrap: wrap-reverse;
    align-items: end;
    gap: 0.3rem;
    padding: 3rem 0 1rem;
}

.banner-content{
    width: 100%;
}
.banner h1{
    font-size: 2.2rem;
    margin-bottom: 0.6rem;
}

.banner p{
    font-size: 1rem;
}

.banner-img{
    max-width: 100%;
}

/* plant section */
.plant-section{
    padding:0 1rem;
}

.common h2{
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 0.4rem;
}

.Plants-parent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card span{
    font-size: 1.3rem;
}

.click-button{
    font-size: 1rem;
}

/* Flower & Plants Lover */
.love-parent{
    padding: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.love-img{
    width: 100%;
}

.Badge{
    display: none;
}

.love-parent h2{
    font-size: 2.2rem;
    margin-bottom: 0.4rem;
}

/* Latest Deals */
.Deals{
    padding: 1rem;
}

.Deals-parent{
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
}

.item-3{
    grid-column: 1/2;
    grid-row: 3/4;
}

.Deals-parent h3{
    font-size: 1.8rem;
}

/* Join the colorful Bunch */

.join-content{
    padding: 5rem 0 5.6rem;
}

.join-content h3{
    font-size: 1.8rem;
}

 /* Footer */
.footer{
    padding:3rem 1rem;
    flex-direction: column;
}

.first-column{
    width: 100%;
}


}